@import "./colors";
@import "./mixins.scss";
@import "./modals";
@import "./positioning";
@import "./containers";
@import "./buttons";

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app-header {
  padding: 45px 0px;
  font-size: 23px;
}

.opacity {
  opacity: 0.5;
}

.bold {
  font-weight: bold;
}
